@import './normalize';

@font-face {
  font-family: 'Roboto';
  src: url(../assets/Roboto-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}

#root {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4512ae;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 20px;
}

.header {
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid lightgray;
  background-color: #ffdd00;
}

.header__title {
  text-transform: uppercase;
  color: #4512ae;
}

.header__item {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.header__item:hover {
  border-bottom: 1px solid brown;
}

.header__item:focus {
  color: brown;
}

.header__item:nth-last-child(1) {
  margin: 0;
}

.form {
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1rem;
  border: 2px solid white;
}

.form__title {
  font-weight: 700;
  color: white;
  padding: 0 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 220px;
  height: 340px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #ffdd00;
}

.card__price {
  color: red;
  font-weight: 700;
}

.card__raiting {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}

.card__image {
  height: 30%;
}

.card__description {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  font-size: 14px;
  color: gray;
}

.search {
  margin: 20px auto 0;
  width: 300px;
  height: 25px;
  padding: 0 10px;
  border-radius: 5px;
}

.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page-title {
  font-size: 32px;
  font-weight: 900;
  color: #ffdd00;
}

.about {
  color: white;
  height: 80vh;
}

@media (max-width: 985px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
