@import './normalize';

@font-face {
  font-family: 'Roboto';
  src: url(../assets/Roboto-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}

#root {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 20px;
}

.header {
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid lightgray;
  background-color: #ffdd00;
}

.header__title {
  text-transform: uppercase;
  color: #4512ae;
}

.header__item {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.header__item:hover {
  border-bottom: 1px solid brown;
}

.header__item:focus {
  color: brown;
}

.header__item:nth-last-child(1) {
  margin: 0;
}

.pop-up {
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000df;
}

.pop-up__message {
  text-align: center;
  max-width: 300px;
  min-height: 200px;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border: 2px solid black;
  color: black;
}

.form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 380px;
  gap: 4px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

input[type='file' i] {
  font-size: 12px;
  width: 200px;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__error {
  color: red;
  font-size: 12px;
}

.form__title {
  font-weight: 700;
  color: rgb(0, 0, 0);
  padding: 0 10px;
}

.form__input {
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.2s border-color;
}

.form__input:hover {
  border: 1px solid #aaa;
}

.form__coffee {
  display: flex;
  justify-content: space-around;
}

.form__file {
  position: relative;
  display: inline-block;
}

.form__file-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px;
  background-color: #ffdd00;
  line-height: 22px;
  height: 30px;
  padding: 5px 20px;
  box-sizing: border-box;
  border: 1px solid #ffdd00;
  margin: 0;
  transition: background-color 0.2s;
}

.form__file-text {
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
  font-size: 12px;
}

.form__file input[type='file'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.form__file:hover .form__file-btn {
  border: 1px solid #aaa;
}

.form__submit {
  background-color: #ffdd00;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 220px;
  height: 340px;
  border: 2px solid #eee;
  border-radius: 10px;
  background-color: #eee;
}

.card__price {
  color: red;
  font-weight: 700;
}

.card__raiting {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}

.card__image {
  height: 30%;
}

.card__description {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  font-size: 14px;
  color: gray;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  min-width: 220px;
  min-height: 390px;
  border: 2px solid black;
  border-radius: 5px;
}

.user__title {
  margin: 0;
  font-size: 14px;
  color: darkgrey;
}

.user__file {
  position: relative;
  overflow: hidden;
}

.user__img {
  width: 100%;
  height: auto;
}

.search {
  margin: 20px auto;
  width: 450px;
}

.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page-title {
  font-size: 32px;
  font-weight: 900;
  color: #ffdd00;
}

.about {
  color: rgb(0, 0, 0);
  height: 80vh;
}

@media (max-width: 985px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .search {
    width: 250px;
  }
}

@media (max-width: 450px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
