@import './normalize';

@font-face {
  font-family: 'Roboto';
  src: url(../assets/Roboto-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}

#root {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 20px;
}

.header {
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid lightgray;
}

.header__title {
  text-transform: uppercase;
}

.header__item {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.header__item:hover {
  border-bottom: 1px solid brown;
}

.header__item:focus {
  color: brown;
}

.header__item:nth-last-child(1) {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  height: 300px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
}

.card__image {
  height: 30%;
}

.card__description {
  font-size: 14px;
}

.search {
  margin: 20px auto 0;
  width: 300px;
  height: 25px;
  padding: 0 10px;
  border-radius: 5px;
}

@media (max-width: 985px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
